<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />
    <script src="/static/scripts/bootstrap.min.js"></script>
    <!-- <script type="module" src="/static/scripts/ckeditor.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script type="module" src="/static/scripts/editor.js"></script> -->



    <title>Editor</title>
</head>
<body>

    <div class="main-edit-container">
        <div class="title-container">
            {% from "includes/formhelpers.html" import render_field %}  
            <form method=post enctype="multipart/form-data">
                <dl>

                  {{render_field(form.change_title, value=article_title)}}
                  {{render_field(form.content)}}
                  
                </dl>
                <p><input type=submit value="Kaydet" class="btn btn-primary button-margin">
              
        </div>

        
    </div>

</form>

{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}
</div>

</body>
<!-- <script>


    const watchdog = new CKSource.EditorWatchdog();
			
    window.watchdog = watchdog;
    
    watchdog.setCreator( ( element, config ) => {
        return CKSource.Editor
            .create( element, config )
            .then( editor => {
                
                
                
    
                return editor;
            } )
    } );
    
    watchdog.setDestructor( editor => {
        
        
    
        return editor.destroy();
    } );
    
    watchdog.on( 'error', handleError );
    
    watchdog
        .create( document.querySelector( '#editor' ), {
            
        toolbar: {
            items: [
                'heading',
                '|',
                'bold',
                'italic',
                'link',
                'bulletedList',
                'numberedList',
                '|',
                'outdent',
                'indent',
                '|',
                'imageUpload',
                'blockQuote',
                'insertTable',
                'mediaEmbed',
                'undo',
                'redo',
                'fontSize',
                'fontFamily',
                'fontColor',
                'alignment',
                'CKFinder',
                'imageInsert',
                'pageBreak'
            ]
        },
        language: 'tr',
        image: {
            toolbar: [
                'imageTextAlternative',
                'imageStyle:inline',
                'imageStyle:block',
                'imageStyle:side'
            ]
        },
        table: {
            contentToolbar: [
                'tableColumn',
                'tableRow',
                'mergeTableCells'
            ]
        },
        simpleUpload: {
            // The URL that the images are uploaded to.
            uploadUrl: 'http://localhost:5000/static/data/article_assets/article_images/sj.jpg',

            // Enable the XMLHttpRequest.withCredentials property.
            withCredentials: true,

            // Headers sent along with the XMLHttpRequest to the upload server.
            headers: {
                'X-CSRF-TOKEN': 'CSRF-Token'
            }
        },
            licenseKey: '',
            
            
            
        } )
        .catch( handleError );
    
    function handleError( error ) {
        console.error( 'Oops, something went wrong!' );
        console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
        console.warn( 'Build id: 1twzjzbqgogv-dkfi01lvul14' );
        console.error( error );
    }
    </script> -->

</html>