{% extends "navbar.html" %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block links %}
    
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/styles/edit.css" />
    <script src="/static/scripts/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% endblock %}


   {% block title %}
    <title>Editor</title>
    {% endblock %}
</head>
{% block body %}

<body>

    <div class="main-edit-container">
        <div class="title-container">
            {% from "includes/formhelpers.html" import render_field %}  
            <form method=post enctype="multipart/form-data">
                <dl>

                  {{render_field(form.change_title, value=article_title)}}
                  {{render_field(form.content)}}
                  
                </dl>
                <p><input type=submit value="Kaydet" class="btn btn-primary button-margin">
              
        </div>

        
    </div>

</form>

{{ ckeditor.load() }}
{{ ckeditor.config(name='body') }}
</div>

</body>
{% endblock %}
</html>