{% extends "navbar.html" %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block body %}
    <link rel="stylesheet" href="/static/styles/admin.css">
    <title>Admin Panel</title>
</head>


<body>
    <div class="admin-main-div">
        <div class="passform">

        {% from "includes/formhelpers.html" import render_field %}  
        <form method=post enctype="multipart/form-data">
            <dl>
                {{render_field(passform.masterpass)}}
                {{render_field(passform.email)}}
            </dl>
            <p><input type=submit value="Kaydet" class="btn btn-primary button-margin">
          
    </div>
</div>
    
</div>

</form>

    </div>
</body>
{% endblock %}
</html>