{% extends "navbar.html" %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block links %}
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/admin.css">
    {% endblock %}
    {% block title %}
    <title>Admin Panel</title>
    {% endblock %}
    

    {% block body %}


</head>


<body>
    <div class="admin-main-div">
        <div class="passform">
            <div class="innerpass">

        {% from "includes/formhelpers.html" import render_field %}  
        <form method=post enctype="multipart/form-data">
            
            {{render_field(passform.email, class="sj")}}
                {{render_field(passform.masterpass, class="sj")}}
            <p><input type=submit value="Kaydet" class="btn btn-primary button-margin">
            </div>
    </div>
</div>
    
</div>

</form>

    </div>
</body>
{% endblock %}
</html>