<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% from "includes/formhelpers.html" import render_field %}  
<form method=post>
    <dl>
      {{render_field(form.name)}}
      {{ render_field(form.username) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm) }}
    </dl>
    <p><input type=submit value=Register>
  </form>
</body>
</html>