
  
.main-error-container {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

.error-container {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 20px;
    
  }

  .error-container img {
    width: 300px;
    margin: auto;
  
  }