

body {
  height: 100vh;
}

.article-holder {
  height: 100%;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    background-color: var(--secondary-color);
    word-wrap: break-word !important;
  }
  .article-holder img {
    margin: auto !important;
    max-width: 100%;
    height: auto !important;
    word-wrap: break-word;
  
  }
  
  @media screen and (max-width: 400px){
    .article-holder img {
      max-width: 100%;
      margin: 0 !important;
      height: auto !important;
    }
    .article-holder a {
      text-align: left;
    
    }
  }

  .article-title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }