@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
  --secondary-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(198,255,0);
  background: linear-gradient(0deg, rgba(198,255,0,1) 0%, rgba(0,255,68,1) 57%);
  width: 100%;
  font-family: 'Poppins', sans-serif;
  animation: load 0.75s;
  
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
html {
  overflow-x: hidden;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flashes {
  width: fit-content;
  margin: 10px auto 0 auto;
  background-color: var(--secondary-color);
  padding: 20px;
}

@keyframes load {
  from {
    opacity: 0;
    transform: scale(1.07);
  }
  to {
    opacity: 1;
    scale: 100%;
    transform: scale(1);

  }
}